body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-year-wish{
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/Banner\ Image.png');
    margin: 50px 120px;
    background-size: cover;
    border-radius: 16px;
}
.wish-texts{
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first-text{
    font-size: 32px;
    margin-bottom: 16px;
}
#second-text{
    font-size: 72px;
    font-weight: 700;
}
#fist-offer-span{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 48px;
    display: block;
}
#second-offer-span{
    font-size: 24px;
    color: #FF0000;
    font-weight: medium;
    display: block;
    margin-bottom: 16px;
}
#third-offer-span{
    font-size: 48px;
    font-weight: bold;
}
.offer-section{
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.offer-info{
    margin-bottom: 48px;
}
.party-section{
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,1)), url('/assets/images/Vectorrr.png');
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px auto;
}
#wc-msg{
    color: white;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}
#wc-msg-description{
    font-size: 18px;
    color: white;
    opacity: 80%;
}
.join{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 142px;
    margin-top: 58px;
}
.party-wc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}
.time-date{
    height: 482px;
    width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(0,0,0,0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-msg{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.join-btn{
    border-radius: 8px;
    background-color: red;
    height: 56px;
    width: 167px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    margin-top: 48px;
}
.comming-soon-offer{
    width: 1320px;
    height: 463px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.p1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.cs{
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px ;
}
.p2{
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
}
.img-container{
    border-radius: 50%;
    border: 16px solid red;
    width: 431px;
    height: 431px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comming-soon-offer > .offer-msg-two > h1{
    font-size: 48px;
    font-weight: bold;
}
.comming-soon-offer > .offer-msg-two > img{
    height: 140px;
    width: 140px;
}
.holidays-sale{
    width: 1320px;
    height: 986.07px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p3{
    color: #070211; 
}
.holidays-sale > .holiday-msg >h1{
    font-size: 72px;
    margin-top: 16px;
    margin-bottom: 28px;
}
.holiday-msg{
    text-align: center;
}
.img-one{
    margin-bottom: 0px;
}
.red-box-img-one{
    width: 796.46px;
    height: 662.07px;
    position: absolute;
    bottom: 0px;
}
.red-box-container{
    background-image: url('/assets/images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 229px;
    position: relative;
}
.red-box-img-two{
    height: 305.69px;
    width: 305.69px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-box-container > .red-box-img-two > img {
    height: 220.05px;
    width: 220.05px;
    position: absolute;
    left: 1021px;
    bottom: 384.38px;
}
.portfolio{
    width: 1320px;
    height: 1163px;
    margin: 0px auto;
}
.portfolio-images{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}
.subscribe{
    width: 1320px;
    height: 616px;
    margin: 120px 120px auto;
    background-color: rgba(255, 0, 0, 5%);
    /* opacity: 5%; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe-img{
    height: 150px;
    width: 150px;
}
.subs-msg{
    text-align: center;
}
.subs-btn{
    width: 210px;
    height: 72px;
    background-color: red;
    color: white;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}
.subs-input{
    height: 72px;
    width: 438px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 18px;
    font-weight: 400;
}
.subs-input::placeholder{
    position: absolute;
    left: 30px;
    top: 25px;
}
/* Common styles */

.inter-font{
    font-family: "Inter", sans-serif;
}
.color-red{
    color: red;
}
.merriweather-font{
    font-family: "Merriweather", serif;
}